{% block title %}
    les ingrédients
{% endblock %}

{% block body %}
    
<div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">La récolte des ingrédients par Yuki:</h2>

        <div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/misa-cry.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Maintenant que nous nous sommes mis d’accord je vais vous donner les ingrédients pour le rituel de téléportation :
                                    Il nous faut une larme de l’un d’entre nous et ça je peux la fournir directement :
                                    Voilà ça c’est fait
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/pumpkin-chocked.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin</strong> : Comment tu as fait ça ? Tu pleures sur commande ? <br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Non c’est simple en fait … mais si je le dis vous allez encore me faire chier !!!<br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Dis tout de suite ou je te cours après pour te chopper è_é<br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : J’ai pensé à une gamelle de croquette vide ….<br><br>
                                    <strong class="name-cat">Pumpkin</strong> :……………… (J’en ai marre de lui -_-‘’).<br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> …. Bon ensuite, Yuki tu iras chercher du lait !!<br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/yuki-chocked.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Yuki</strong> : QUoi MAisss Pou-Pourquoi moi T_T ?!!!<br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Parce que tu es blanc, que le lait est aussi blanc et donc tu pourras te servir de ça à ton avantage<br><br>
                                    <strong class="name-cat">Yuki</strong> : (Pourquoi je me laisse toujours entrainer dans les histoires de mon frère … après tous les efforts que j’ai fait pour être parfait , je finis toujours par devenir son complice T_T )<br><br>

                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Pumpkin tu iras accompagner Yuki dans la cuisine , il me faudrait un morceau de baguette et au moins tu pourras veiller à ce que Yuki réussisse sa mission !!!<br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Pas de soucis par contre j’ai l’impression qu’on te ramène à manger plutôt qu’autre chose … Tu nous as déjà fais un plan comme ça juste car tu avais la flemme de partir prendre à manger toi-même !!<br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Mais non , là je te jure que c’est du sérieux , je le jure sur mes croquettes !!<br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Tu as intérêt !! Viens Yuki on va voir si la voie est libre et toi <?php echo $cat_grey_name ?> surveille les environs !<br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/meuble.png" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Pas de soucis , vous pouvez compter sur moi, j'ai l'emplacement idéal pour ça : le tiroir à vêtements de Chloé
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <!-- <img src="../asset/img/chap2/pumpkin-serious.jpg" class="img" alt="..."> -->
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin</strong> : Oh non je crois que quelqu'un arrive, <?php echo $cat_grey_name ?> qu'est ce que tu fiches ?!!! C'est Michaël qui arrive !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/mikie-milk.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin</strong> :<?php echo $cat_grey_name ?> fais diversion bordel, Michael a prit la carafe de lait et Yuki s’est caché dedans en croyant bien faire !!! <?php echo $cat_grey_name ?> !!!!! <br> <br>
                                    <strong class="name-cat">Michael</strong> : Yuki qu’est ce que tu fous là !!! <br> <br>
                                    <strong class="name-cat">Pumpkin</strong> : Oh non il est trop tard !!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/yuki-milk.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Yuki</strong> : Oh ooon , <?php echo $cat_grey_name ?> je te haiiiiiiiiiiiis !!!! <br> <br>
                                    <strong class="name-cat">Pumpkin</strong> : <?php echo $cat_grey_name ?> si tu m'entends je vais te défoncer !!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/yuki-hand.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Yuki</strong> : Je suis fichu, il m’a choppé !!! Je le savais c’est toujours sur moi que retombe tes conneries <?php echo $cat_grey_name ?> !!! <br><br>
                                    <strong class="name-cat">Michaël</strong> : Yuki ? vraiment ? Tu as de la chance qu’on soit le matin, je te laisse partir tranquillement car je n'ai pas le temps pour ça mais c'est l'unique chance que je t'accorde ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap3/yuki-think.gif" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Yuki</strong> : (Merci maître pour votre bonté,je ferais toujours de mon mieux ).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex">
                        <a href="4_les_ingredients2.php" class="btn button">La récolte des ingrédients par Pumpkin !</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src="../asset/img/misaGif.gif" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}