{% block title %}
    les ingrédients
{% endblock %}

{% block body %}

<div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">La récolte des ingrédients par Pumpkin :</h2>
        <div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5  flex">
                            <img src="../asset/img/chap4/pumpkin-angry.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5  flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin</strong> : Bordel <?php echo $cat_grey_name ?> tu étais où ? Tu avais déjà oublié quel était ton poste ? Tu devais surveiller que personne n'arrive ! A cause de toi Yuki s'est fait chopper, heureusement Michaël a été vachement gentil avec lui !!! <br> <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Je suis désolé je peux tout expliquer !!! J'étais bien a mon poste mais je me suis fais distraire ... <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Distraire par quoi ?!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/misa-wool2.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : En fait Chloé a visiblement changé ses vêtements de place et dans le tiroir il y avait une pelote de laine ... Je suis désolé, je n'ai pas pu résister, après tout nous sommes avant tout des chats ... <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Bon c'est compréhensif je dois l'avouer ... J'aurais vu une plume je pense que j'aurais perdu pied aussi mais fais gaffe la prochaine fois sinon j'arrête tout directement ! Bon je suppose que s'est à moi de jouer maintenant !<br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <!-- <img src="../asset/img/" class="img" alt="..."> -->
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Attends et pour le lait on fait comment ?! Il nous le faut vraiment ! <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Réfléchis un peu ! Nous l'avons déjà le lait . <br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> :Ah bon ? <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Bah oui Yuki s'est caché dans la carafe donc va l'aider à s'essorer les poils, ils sont imbibés de lait et récupérer tout ce dont tu as besoin. <br><br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Oh pas bête ! Tu vois Yuki tu n'auras pas fais ça pour rien !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/yuki-wet.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Yuki</strong> : (Je vais le massacrer, je vais le massacrer ... C'est toujours comme ça que ça se passe ... Un jour je me vengerai à la hauteur de ce que j'ai subis mais pour l'instant je continuerai à montrer toute ma gentillesse et faire comme si de rien n'étais ...). <br><br>
                                    <strong class="name-cat">Yuki</strong> : Oui ! Au moins j'ai le lait, cette masse de fourrure me sert très bien finalement :) Aller, trouvons un récipient et aide moi à mettre le plus de lait possible dedans ^^
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <!-- <img src="../asset/img/chap4/" class="img" alt="..."> -->
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Pendant ce temps , Pumpkin part remplir à bien ta mission !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-hide.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat">Pumpkin</b> : Bon si j'étais une baguette de pain où j'irais me cacher pour commencer ?! Je suppose qu'il y en a dans la cuisine, il me semble que Chloé a un rangement spécial pour ça héhé.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-hide2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Si je veux déja réussir à atteindre la cuisine, je dois me faufiler sans que les caméras me détectent ! <br>
                                    <b class="name-cat">Pumpkin</b> : M'y voici ! Han non ! La porte est fermée et la pour le coup impossible de pouvoir rentrer par ici vu l'ouverture de la porte ... <br>
                                    <b class="name-cat">Pumpkin</b> : Hey mais j'y pense, il y a une fenêtre qui donne sur la cuisine non ? je vais essayer de passer par la terrasse pour accéder à la fenêtre ça devrait la faire !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-outside.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat">Pumpkin</b> : Me voila à l'extérieur ! Alors la fenêtre c'esttttt ... ah celle-ci ! C'est parfait il y a un arbre devant c'est comme me déployer le tapis rouge la héhé !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ''''''''''''''''''''''''''''''''''''' -->
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-outside2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Ne pas tomber, ne pas tomber, ne pas tomber >.< ça valait bien le coup de faire le malin juste avant ... <br>
                                        <b>Craaaacckkkk !!!!!</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-inside.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Fiou il s'en est fallu de peu, une chose est sûr, cette mission était pour moi, Yuki aurait fait une crise d'angoisse dès le départ et <?php echo $cat_grey_name ?> aurait cassé la branche avec son poid hihi peut-être même l'arbre en lui-même qui sait !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-inside2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Alors voyons voir, maintenant que je suis dans la cuisine,où sont les baguettes ... <br>
                                    <b class="name-cat">Pumpkin</b> : Roh elles sont en bas ... Elles ne pouvaient pas être à porté de pattes ces petites baguettes non ? ça aurait été trop simple <br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-inside3.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat">Pumpkin</b> : Et bien quand faut y aller, faut y aller !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-inside4.jfif" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Oh non je glisse ahhhhhhhhhhhhhhhhhhhhhhh !!!!! <br>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-boum.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat">Pumpkin</b> : Bon visiblement je suis toujours en vie ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/misa-wait.PNG" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat"><?php echo $cat_grey_name ?> (Qui arrive de l'autre coté de la porte de la cuisine)</strong></b> : Pumpkin tu vas bien ?!! Qu'est ce qu'il s'est passé ? <br>
                                    <b class="name-cat">Pumpkin</b> : Tkt tout va parfaitement bien, je maitrise la situation comme toujours ! J'ai juste fais tomber un truc ... <br>
                                    <b class="name-cat"><?php echo $cat_grey_name ?> </strong></b> : D'acc tant mieux tu en es où ? <br>
                                    <b class="name-cat">Pumpkin</b> : J'ai quasiment fini, d'ailleurs ça tombe bien que tu sois la, jvais de lancer les morceau de pain par le trou de la cuisine au niveau du four, tu es prêt ? <br>
                                    <b class="name-cat"><?php echo $cat_grey_name ?> </strong></b> : Ah niquel, vas y oui je suis prêt ! <br>
                                    (Pumpkin lance les morceaux de baguettes)


                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/misa-attrape.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat"><?php echo $cat_grey_name ?></b> : Et hop un bon rattrapage de nourriture comme d'habitude héhé <br>
                                    <b class="name-cat"><?php echo $cat_grey_name ?></b> : C'est bon je l'ai je ramène ça avec le reste et on t'attend !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-oups.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <b class="name-cat">Pumpkin</b> : Oh non je fais comment pour sortir moi maintenant, je suis tombé, la fenêtre est inaccessible et la porte est toujours fermée ?!! <br>
                                    <b class="name-cat">Pumpkin</b> : <?php echo $cat_grey_name ?>!! <br>
                                    <b class="name-cat">Pumpkin</b> : <?php echo $cat_grey_name ?>!!!!!! <br>
                                    <b class="name-cat">Pumpkin</b> : <?php echo $cat_grey_name ?>!!!!!!!!!!!! <br>
                                    <b class="name-cat">Pumpkin</b> : <?php echo $cat_grey_name ?>!!!!!!!!!!!! <br>



                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap4/pumpkin-wait.PNG" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <b class="name-cat">Pumpkin</b> : Bon et bien plus qu'a attendre que soit Michaël soit Chloé ouvre cette porte et me retrouve dans un des endroits où il nous est interdit d'aller ... <br>
                                    <b class="name-cat">Pumpkin</b> : Adieu monde cruel ... <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex">
                        <a href="5_le_rassemblement.php" class="btn button">Le rassemblement des ingrédients</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src="../asset/img/misaGif.gif" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}