{% block title %}
    Le rassemblement
{% endblock %}

{% block body %}
    
<div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">le rassemblement des ingrédients :</h2>
        <div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/misa-yuki.png" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    (Quelques heures plus tard) <br>
                                    <strong class="name-cat">Yuki</strong> : Ahahahah arrête <?php echo $cat_grey_name ?></strong> ça chatouille !! <br>
                                    Au faite ça fait un moment qu'on joue en attendant Pumpkin on devrait s'inquiéter non ? <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Mais non tkt c'est Pumpkin, tu veux qui lui arrive quoi ? <br>
                                    <strong class="name-cat">Yuki</strong> : C'est pas faux, mais bon avoue que normalement il serait déjà là <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Humm c'est vrai on va aller voir ce qui le retarde mais d'abord mon ventre me dit que c'est l'heure du goûter <br>
                                    <strong class="name-cat">Yuki</strong> : ... incorrigible, j'espère que je serais jamais en danger au moment où tu auras faim ... <br>



                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-mew.gif" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    (Du coté de Pumpkin) <br>
                                    <strong class="name-cat">Pumpkin</strong> : Ah j'entends la porte de la maison !! ça veut dire que je serait bientôt libre ! Et puni ... Mais libre !! <br>
                                    Je dois être le plus mignon possible et faire le plus beau miaulement du monde ! <br>
                                    (la porte de la cuisine s'ouvre)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-out2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Michaël</strong> : Pumpkin qu'est ce que tu fiches ici ?! <br>
                                    <strong class="name-cat">Pumpkin</strong> : ... Flute en plus c'est Michaël ... Miiiiiaaaoooouuuuu <br>
                                    <strong class="name-cat">Michaël</strong> : Aller viens là ! C'est pas ton genre en plus de faire des bêtises pis comment tu es rentré ici ??? <br>
                                    <strong class="name-cat">Pumpkin</strong> : ... (Si il savait hihi) Miaooooooouuuu ! <br>
                                    <strong class="name-cat">Michaël</strong> : Et que je ne t'y reprenne plus Pshhhhhhhhhhh ! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-satis.png" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin</strong> : Et bah j'ai eu chaud moi mais ça va il a été sympa, ça se voit que Yuki et moi ne sommes pas au niveau de bêtises de <?php echo $cat_grey_name ?> et qu'on a encore du chemin à faire avant de bien se faire punir .<br>
                                    Bon aller, allons retrouver les deux autres ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/wait-pumpkin.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Hey Pumpkin enfin ! On aller venir te chercher héhé ...<br>
                                    <strong class="name-cat">Pumpkin</strong> : Oui bien-sûr c'est ce que je remarque ...<br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Hé mais qu'est ce que tu fais ?!!<br>
                                    <strong class="name-cat">Pumpkin</strong> : Ceci c'est pour m'avoir oublié et ne pas t'être inquiété plus tôt de mon absence .<br>
                                    <strong class="name-cat">Yuki</strong> : (Je savais qu'oo aurait des représailles ...), Pumpkin sâche que je lui ai fais remarquer mais il a dit que c'était l'heure de son goûter !!! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/alert-misa.jpg" class="img " alt="">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin</strong> : Ah ouai ?! Et bien petit <?php echo $cat_grey_name ?></strong> sâche que tu as utilisé ton seul joker encore une erreur et on va jouer à coup de griffe, coup de pattes ;) <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Ceci ne se repproduira plus promis !!!<br>
                                    (Quelle balance ce Yuki ...)

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/magic-misa.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Bon maintenant qu'on a tout les ingrédients on s'y met ? <br>
                                    Je vais juste me préparer pour l'occasion car je suppose qu'on aura que cette occasion pour le faire ! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/misa-magic2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Et voila, ne vous fichez pas de ma tenue, c'est courant dans le monde de la magie !!!<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ''''''''''''''''''''''''''''''''''''' -->
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-yuki-fun.png" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin & Yuki</strong> : Hahahahahhahahahahah !!!!!!!! <br>
                                    <strong class="name-cat">Pumpkin </strong> : Je sais pas jusqu'où va aller cette blague mais franchement je ne me serais pas ennuyer ahahah <br>
                                    <strong class="name-cat">Yuki </strong> : Arrête arrête il va encore se vexer comme à chaque fois et on va devoir le chercher partout ce roi de la planque ahahahah <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/misa-magic3.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Ainsi depuis le début vous ne me prenez pas au sérieux ? è_é <br>
                                    Et bien vous allez voir ce que vous allez voir <br>
                                    " MAGICA SUPRA <?php echo strtoupper($cat_grey_name)  ?> Rouhhhh-Rouuuuhh !!!!!" <br>
                                    Alors ça vous en bouche un coin hein ;)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-yuiki-choc.gif" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin </strong> : Yuki tu as bien vu comme moi on est d'accord ?! <br>
                                    <strong class="name-cat">Yuki </strong> : Si tu parles de l'orbe que mikie a au bout de la patte oui je vois ce que tu vois !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-question.png" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Pumpkin </strong> : Comment tu as fais ça ?!!! <br>
                                    <strong class="name-cat">Yuki </strong> : (Oh non <?php echo $cat_grey_name ?> était sérieux dans quoi il va encore nous embarquer ça sent pas bon tout ça ...) <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Tiens maintenant j'ai enfin votre attention c'est bon ? <br>
                                    Et bien mon petit Pumpkin tu as peut-être bien des talents que nous n'avons pas mais moi j'étudie beaucoup dans mon coin et toute les infos sont bonnes à prendre tu sais, que ça soit sur internet, les bouquins, et même dans les séries ou animes que Chloé et Michaël regardent ;), là en l'occurrence j'ai beaucoup lu les Harry Potter ça parle de magie, j'ai regardé un anime qui s'appelle Naruto et on y parle beaucoup de Chat-Kra, j'ai écouté attentivement toutes les explications de Maître Jiraya et de Kakashi sensei sur la maitrise de ce fameux Chat-Kra puisque je suis un chat après tout puis j'ai mélangé ces informations à celles de la magie dans les bouquins ainsi qu'un truc qui s'appelle Mana dans les jeux vidéos tout ça se ressemble étrangement d'ailleurs !! <br>
                                    Une fois la théorie acquise je me suis mis a essayer de toute mes forces, j'ai mis ma concentration à l'épreuve et j'ai réussi à maitriser le Chat-Kra héhé <br>
                                    <strong class="name-cat">Pumpkin </strong> : Et bien chapeau, tu as enfin tout mon respect, je ne peux rien dire d'autre que félicitations ! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/pumpkin-question2.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin </strong> : Maintenant que tu m'as convaincu tu peux nous expliquer ce qui va se passer maintenant que nous avons les ingrédients et ton fameux Chat-Kra ? <br>
                                    Car autant tu nous a expliqué ce qu'il te fallait et on t'a suivi pour l'amusement, autant on ne sait pas ce que tu comptes en faire, ce qui va ce passer etc ...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/plan-misa.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Bien-sûr ! Je vais vous faire un dessin pour que vous compreniez mieux ! <br>
                                    Tout d'abord on déposera tous les ingrédients dans une gamelle dans le bonne ordre, puis on se placera autour de cette gamelle en prenant soin de former un triangle parfait, une fois en position il faudra en même temps donner 3 coups de langues chacun pour boire la même quantité de lait qui sera mélangé à mon Chat-Kra ainsi on sera synchronisé ! <br>
                                    Enfin il faudra que vous pensiez à comment vous voulez être transformé pour vivre cette aventure ! <br>
                                    <strong class="name-cat">Pumpkin </strong> : Transformé tu dis ? :o <br>
                                    <strong class="name-cat">Yuki </strong> : Hanlala j'aime pas ça T_T <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Oui transformé, si j'ai bien lu, une fois le sort accompli on sera dans un genre de nouveau monde où on pourra devenir ce que l'on veut, ça va durer un petit moment donc choisissez bien en étant précis et une fois le sort dissipé on sera à nouveau ici ni vu ni connu ! <br>
                                    <strong class="name-cat">Pumpkin </strong> : Wohhh c'est à la fois exitant et effrayant cette aventure ! Tu es sûr qu'oon reviendra ici hein ? <br>
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Mais oui tkt ! Je ne sais juste pas quand le sort prendra fin mais il y a toujours une astuce dans ce genre de cas ne t'inquiète pas :). <br>
                                    <strong class="name-cat">Pumpkin </strong> : Okay ça me va ! Et bien c'est parti ! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/last-in-cat.png" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : Voila tout est prêt, vous êtes prêts à vivre une aventure unique ? Profitez bien de votre apparence actuel ces dernières secondes car nous allons la quitter un petit moment ! <br>
                                    Pour ma part je vais me baser sur Michaël je pense, plus je me rapprocherai de mon rival plus je le comprendrai héhé et puis j'aimais bien quand il avait une colo noire et un peu dégradé je vais pensais à ça ! <br>
                                    <strong class="name-cat">Yuki </strong> : Moi je sais pas vraiment je visualise juste un humain qui à l'air aussi gentil que moi et qu'on puisse voir qu'il est gentil rien quand le regardant comme moi quoi hihi <br>
                                    <strong class="name-cat">Pumpkin </strong> : Humm moi je vais penser à un humain avec la couleur des cheveux de Chloé après tout on est des petits roux tout les deux, elle est jolie je ne devrait pas me tromper ^^
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap5/drink-milk.jpg" class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat"><?php echo $cat_grey_name ?></strong> : D'accord puisque tout le monde à son image en tête et que tout est prêt, mes chers amis partons en escapade vers l'inconnu ! <br>
                                    A trois on donne 3 coups de langue au niveau du lait ! <br>
                                    1 <br>
                                    2 <br>
                                    3 !!!!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="flex">
                        <a href="6_la_transformation.php" class="btn button">La transformation</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src="../asset/img/misaGif.gif" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}