{% block title %}
    Transformation
{% endblock %}

{% block body %}
    
<div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">La transformation :</h2> <br>


        <div id="carousel-story" class="carousel " data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap6/etape1.jpg" class="img-carousel" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap6/etape2.jpg" class="img-carousel" alt="...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="../asset/img/chap6/etape4.jpg" class="img-carousel" alt=" ...">
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex">
                        <a href="7_un_nouveau_corps.php" class="btn button">Un nouveau corps</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src="../asset/img/misaGif.gif" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}