{% extends 'base.html.twig' %}

{% block title %}
    Un nouveau corps
{% endblock %}

{% block body %}
    
<div class="bg-black">
    <div class="container-fluid">
        <h2 class="col-12 col-md-12 col-lg-12 p-4 mt-5">Un nouveau corps :</h2>
        <div id="carousel-story" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
            <div class="carousel-indicators">
                <!-- bouton généré en javascript par rapport au nombre de carousel-item -->
            </div>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="{{ asset('img/chap7/first.png') }} " class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text">
                                    <strong class="name-cat">Pumpkin</strong> : Aaaahhhh mais tu es qui toi ?!! Misa</strong> ?! <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="{{ asset('img/chap7/two.jpg') }} " class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Misa</strong> : Et bah Pumpkin ... Je pense que tu ne t'ais pas contenté de pensé qu'aux cheveux de Chloé... XD Tu es une fille dans ce monde ahahahaha, j'avais dis d'être précis !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="flex wrap">
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <img src="{{ asset('img/chap7/misa-vante.png') }} " class="img" alt="...">
                        </div>
                        <div class="col-11 col-md-8 col-lg-5 flex">
                            <div class="card-body">
                                <p class="card-text ">
                                    <strong class="name-cat">Misa</strong> : Alors je vous avais menti ? On vient tout juste de commencer et regarder déjà ce qu’on a accompli, nous avons pris forme humaine ! <br><br>
                                    <strong class="name-cat">Pumpkin</strong> : Oui oui, je dois bien avouer que tu avais raison, et que tu as bien réussi ton coup !  <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="flex">
                        <a href="7_un_nouveau_corps.php" class="btn button">Un nouveau corps</a>
                    </div>
                    <div class="flex"> <img class="misa-navbar" src="{{ asset('img/misaGif.gif') }} " alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}