@media screen and (max-width: 749px) {
    .title-nav-bar{
        margin: 0;
        color: green;
        font-family: "Rampart";
        font-size: calc(1.275rem + 1.5vw);
    }

    .navbar-toggler{
        background-image: url('../img/pawStart1.png');
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 30px;
        right: 0;
        margin: 5px;
    }
}

@media screen and (min-width: 750px) {
    .title-nav-bar{
        margin: 0;
        color: green;
        font-family: "Rampart";
    }

    .navbar-toggler{
        background-image: url('../img/pawStart1.png');
        background-size: 100% 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 10px;
        margin: 5px;
    }
}

.misa-navbar{
    height: 70px;
    width: auto;
}


.navbar-toggler:focus{
    /* background-color: green !important;
    box-shadow: 1px 1px 30px white !important;
    border: 2px solid black !important; */
}



.navbar{
    padding: 0 !important;
    background-color: black !important;
}



.navbar-brand{
    padding: 0 !important;
}



.navbar-nav .dropdown-menu {
    position: absolute !important;
}

.dropdown-menu-chapitre{
    /* overflow: scroll; */
    background-color: black;
    border: 1px solid green;
    max-height: 80vh;
    overflow-y: auto;
}
.dropdown-menu{
    background-color: black !important;
    border: 1px solid green !important;
}

.dropdown-item{
color: #f8b208 !important;
}

.nav-link{
    text-decoration: none !important;
    text-transform: none !important;
    color: green  !important;
}
.nav-link:hover{
    color: green !important;
}


.navbar-collapse{
position: absolute !important;
top: 50px !important;
}


.footer{
    position: fixed;
    bottom:0px;
    padding-top: 30px;
    width: 100%;
    background-color: black;
}
.btn-connect{
    color: #f8b208 !important;
    text-decoration: none !important;
    text-transform: none !important;
}