/* mode portable */
@media screen and (max-width: 749px) {
    .title-nav-bar{
        margin: 0;
        color: green;
        font-family: "Rampart";
        font-size: calc(1.275rem + 1.5vw);
    }

    .navbar-toggler{
        background-image: url('../img/pawStart1.png');
        background-size: 100% 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 40px;
        right: 0;
        margin: 5px;
        border: 1px solid wheat !important;
    }

}

@media screen and (min-width: 750px) {
    .title-nav-bar{
        margin: 0;
        color: green;
        font-family: "Rampart";
    }

    .navbar-toggler{
        background-image: url('../img/pawStart1.png');
        background-size: 100% 100%;
        width: 70px ;
        height: 70px;
        position: absolute;
        right: 20px;
        top: 10px;
        margin: 5px;
        border: 1px solid wheat !important;
    }
}
/* mode tablette et en dessous */
@media screen and (max-width: 992px) {
    .navbar-nav{
        width: 80%;
    border: 1px solid green;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 999;
    background-color: black;
    }

    .navbar-nav .nav-item {
        padding-right: 15px;
        width: 100%;
     }
}

.misa-navbar{
    height: 70px;
    width: auto;
}


.navbar-toggler:focus{
    /* background-color: green !important;
    box-shadow: 1px 1px 30px white !important;
    border: 2px solid black !important; */
}



.navbar{
    padding: 0 !important;
    background-color: black !important;
}



.navbar-brand{
    padding: 0 !important;
}



.navbar-nav .dropdown-menu {
    position: absolute !important;
}
.navbar-nav .nav-item {
   padding-right: 15px;
}

.dropdown-menu-chapitre{
    /* overflow: scroll; */
    background-color: black;
    border: 1px solid green;
    max-height: 80vh;
    overflow-y: auto;
}
.dropdown-menu{
    background-color: black !important;
    border: 1px solid green !important;
}

.dropdown-item{
color: #f8b208 !important;
}

.nav-link{
    text-decoration: none !important;
    text-transform: none !important;
    color: green  !important;
    border-bottom: 1px solid green;
    margin: 4px;
}
.nav-link:hover{
    color: orange !important;
    border-bottom: 1px solid orange;

}


.navbar-collapse{
position: absolute !important;
top: 50px !important;
}


.footer{
    position: fixed;
    bottom:0px;
    padding-top: 30px;
    width: 100%;
    background-color: black;
}
.btn-connect{
    color: #f8b208 !important;
    text-decoration: none !important;
    text-transform: none !important;
}

.menu-relatif{
    position: relative;
}

.menu-absolute{
    position: absolute;
}
