<div class="footer">
    <div class="container flex">
        <p>Copyright © Smaga Michaël</p>
        <button class="carousel-control-prev toTop" type="button" data-bs-target="#carousel-story" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next toTop" type="button" data-bs-target="#carousel-story" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>